<div class="mainpicture">
<br/>
  <div class="box col-8 offset-2 text-center">
    <div class="container">
      <br/>
      <h1><%= title 'Contact Us'%></h1>
      <br/>
      <div class="col-sm-10 offset-sm-1">
        <%= simple_form_for @contact do |f| %> 
          <div class="row">
            <div class="col-6">
              <%= f.error_notification %>
              <%= f.input :company_name, placeholder: "Company, Co." %>
              <%= f.input :address, placeholder: "123 Main St, Anywhere, OR 97000"%>
              <%= f.input :phone_number, placeholder: "541-555-5555" %>
            </div>
            <div class="col-6">
              <%= f.input :email, placeholder: "contact@company.com" %>
              <%= f.input :project_details, placeholder: "Project summary, budget, and timeline", class: "larger_box" %>
            </div>
          </div>
          <br/>
          <div class="text-center">
            <%= f.submit 'Submit', class: 'btn btn-light' %>
          </div>
        <%end%>
      </div>        
    </div>
    <br/>
  </div>
</div>