<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'PEC' %>
    <% set_meta_tags   description: 'Process Engineering Consultants, LLC',
                        keywords: 'Process Engineering, Chemical Engineering, Engineering Consultant, Chemical Engineer, Process Engineer' %>
    <meta name = "description" content = "Process Engineering Consultants, LLC" keywords = "Process Engineering, Chemical Engineering, Engineering Consultant, Chemical Engineer, Process Engineer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <!-- <div class="container"> -->
        <div class="col-sm-2">
          <div class="circle">
            <br/>
            <%= link_to 'PEC', root_path, class: "navbar-brand" %>
          </div>
        </div>
        <br/>
        <div class="col-sm-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <%= link_to 'HOME', root_path, class: "nav-item nav-link active" %>
              <%= link_to 'ABOUT US', about_path, class: "nav-item nav-link" %>
              <%= link_to 'CONTACT US', contactus_path, class: "nav-item nav-link" %>
              <%= link_to 'LOGIN', root_path, class: "nav-item nav-link disabled"%>
          <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">LOGIN</a> -->
            </div>
          </div>
        </div>
      <!-- </div> -->
    </nav>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <span class="footer navbar-text">Copyright 2019, Process Engineering Consultants, LLC, Southern Oregon</span>
      <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </nav>
    <%= yield %>
  </body>
</html>
