<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Hidden Message</title> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">P.E.C.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">ABOUT US</a>
          <a class="nav-item nav-link" href="#">CONTACT</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">LOGIN</a>
        </div>
      </div>
    </nav>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <span class="footer navbar-text">Copyright 2019, Process Engineering Consultants, LLC, Southern Oregon</span>
      <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </nav>
    <%= yield %>
  </body>
</html>
